.benefits {
    background-color: var(--section-background-color);
    display: flex;
    flex-direction: column;
}

.benefits-left {
    width: 100%;
    background-image: url(../img/benefits.jpg);
    background-position: center;
    background-size: cover;
}

.benefits-item-image {
    width: 46px;
}


.section-header {
    margin-top: 50px;
    text-align: left;
    align-items: flex-start;
}

.benefits {
    margin-top: 50px;
    text-align: left;
    align-items: flex-start;
}

.benefits {
    margin-top: 50px;
}

.benefits-list {
    margin-top: 50px;
}

.benefits {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 30px;
    background-color: var(--section-background-color);
    padding: 0;
    margin: 0;
}

.benefits-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 30px;
    background-color: var(--section-background-color);
}

.button__block {
    font-size: 20px;
    padding: 10px 15px;
    width: fit-content;
    font-weight: 300;
    background-color: var(--brand-color);

}

.benefits-item img {
    width: 46px;
}

.benefits-item-content {
    text-align: left;
}

.benefits-item-title {
    font-family: 'Cormorant Infant', serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    line-height: 28px;
    color: var(--main-text-color);
}

.benefits-item-description {
    font-family: 'Cormorant Infant', serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    color: var(--sub-text-color);
}

.benefits-section .blog__call-to-action {
    margin-top: 0;
}
@media (min-width: 600px) {
    .benefits-section {
        flex-direction: row;
        gap: 30px;
    }
    .benefits-left {
        width: 50%;
    }

    .benefits-right {
        width: 50%;
    }

    .benefits-left img {
       height: 100%;
       background-size: cover;
    }
}