.footer__wrapper{
	position: relative;
	width: 100vw;
	display: flex;
	flex-direction: column;
	background: #2a2824;
}


.footer__info {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 80px 0;

}


.footer__logo-wrapper {
	position: relative;
	width: 280px;
	padding-top: 50px;
}

.footer__logo {
	width: 80px;
	margin-bottom: 15px;
}


.footer__logo-info {
	color: rgba(255,255,255, 0.6);
	font-size: 14px;
	
	text-align: center;
}


.footer__contacts {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	flex-direction:column;
}


.footer__span {
	padding: 25px 0;
	font-size: 21px;
	color: #bc6e44;
}


.footer__contact {
	font-size: 30px;
	color: #ffffff;
	text-decoration: none;
	display: flex;
	align-items: center;
	font-style: italic;
	font-family: 'Cormorant Infant', serif;
}

.footer__contact2 {
	font-size: 28px;
	color: #ffffff;
	text-decoration: none;
	display: flex;
	align-items: center;
	font-style: italic;
	font-family: 'Cormorant Infant', serif;
}


.footer__routes-wrapper {
	display: flex;
	justify-content: space-around;
	margin: 40px 0;
}


.footer__routes {
	display: flex;
	justify-content: center;
	align-items: center;
}


.route {
	margin-left: 30px;
	font-size: 13px;
	color: rgba(255,255,255, 0.6);
	text-transform: uppercase;
	text-decoration: none;
}


.route:hover {
	color: #ffffff;
	text-decoration: 1px #ffffff;
}


.footer__creators {
	font-size: 15px;
	color: rgba(255,255,255, 0.6);
		display: flex;
		align-items: center;
}




@media (max-width: 995px) {

	.footer__wrapper{
		padding-bottom: 50px;
	}
	
	.footer__routes {
		flex-direction: column;
	}

	.route {
		margin: 15px 0 0 0;
	}

	.footer__logo-info {
		padding: 0 20px;
	}

	.footer__span {
		padding: 16px 0;
	}
}



@media (max-width: 767px){
	.footer__info {
		flex-direction: column;
		text-align : center;
		height: auto;
	}


	.footer__contacts {
		margin-bottom: 20px;
		justify-content: center;
		align-items: center;
	}

	.footer__routes-wrapper {
		margin-bottom: 20px;
		flex-direction: column;
	}

	.footer__logo-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.footer__wrapper {
		height: auto;
	}

	.footer__creators {
		display: flex;
		align-items: center;
	}
	
	.footer__logo-info {
		color: rgba(255,255,255, 0.6);
		font-size: 14px;
		padding: 25px 0;
	}
}

.footer__white-bar {
	background-color: #fff;
	height: 1px;
	width: 100%;
	opacity: .2;
}