<<<<<<< HEAD
<<<<<<< HEAD

=======
.footer_wrapper{
=======


.footer__wrapper{
>>>>>>> bde7aa4 (footer is ready)
	position: relative;
	width: 100vw;
	height: 422px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #2a2824;
<<<<<<< HEAD
}


.footer_info {
	width: 100%;
	height: 300px;
	margin: 50px 0 20px 0;
	font-size: 15px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid #ffffff;
}


.footer_logo_wrapper {
	position: relative;
	max-width: 570px;
}

.footer_logo {
	width: 80px;
	margin-bottom: 15px;
}


.footer_logo_info {
	color: rgba(255,255,255, 0.6);
}


.footer_contacts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}


.footer_span {
	margin-bottom: 20px;
	font-size: 20px;
	color: #bc6e44;
}


.footer_contact {
	font-size: 25px;
	color: #ffffff;
	text-decoration: none;
}


.footer_routes_wrapper {
	width: 75%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.footer_routes {
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.route {
	margin-left: 30px;
	font-size: 15px;
	color: rgba(255,255,255, 0.6);
	text-transform: uppercase;
	text-decoration: none;
}


.route:hover {
	color: #ffffff;
	text-decoration: 1px #ffffff;
}


.footer_creators {
	font-size: 15px;
	color: rgba(255,255,255, 0.6);
}




@media screen and (max-width: 1270px) {
	.footer_routes {
		flex-direction: column;
	}

	.route {
		margin: 15px 0 0 0;
	}
}



@media screen and (max-width: 845px){
	.footer_info {
		flex-direction: column;
		text-align : center
	}


	.footer_contacts {
		margin-bottom: 20px;
		justify-content: center;
		align-items: center;
	}

	.footer_contact {
		font-size: 20px;
	}

	.footer_routes_wrapper {
		margin-bottom: 20px;
		flex-direction: column;
	}

	.footer_logo_wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
>>>>>>> b44721b (added footer)
=======
>>>>>>> bde7aa4 (footer is ready)
}


.footer__info {
	width: 100%;
	height: 300px;
	margin: 50px 0 20px 0;
	font-size: 15px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid #ffffff;
}


.footer__logo-wrapper {
	position: relative;
	max-width: 570px;
}

.footer__logo {
	width: 80px;
	margin-bottom: 15px;
}


.footer__logo-info {
	color: rgba(255,255,255, 0.6);
}


.footer__contacts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}


.footer__span {
	margin-bottom: 20px;
	font-size: 20px;
	color: #bc6e44;
}


.footer__contact {
	font-size: 25px;
	color: #ffffff;
	text-decoration: none;
}


.footer__routes-wrapper {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.footer__routes {

}


.route {
	margin-left: 30px;
	font-size: 15px;
	color: rgba(255,255,255, 0.6);
	text-transform: uppercase;
	text-decoration: none;
}


.footer__creators {
	font-size: 15px;
	color: rgba(255,255,255, 0.6);
}