*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

:root {
}

a {
    text-decoration: none;
}

.wrapper{
    width: 85%;
    margin: 0 auto;
}