*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

:root {
    --brand-color: #bc6e44;
}

a {
    text-decoration: none;
}

.wrapper{
    width: 85%;
    margin: 0 auto;
}

.heading__title {
    font-size: 12px;
    text-transform: uppercase;
    
}

.heading__subtitle {
    font-size: 52px;
    font-family: 'Cormorant Infant', serif;
}

.heading__text {
    font-size: 19px;
    font-family: 'Spectral', serif;
    font-weight: 400;
}

