.gourmand-choice {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
  padding-top: 30px;
  padding-bottom: 105px;
  padding-left: 20px;
  padding-right: 20px;
  text-wrap: wrap;
}

@media (min-width: 1000px) {
  .gourmand-choice .wrapper {
    width: 1200px;
  }
}

.gourmand-choice__header {
  font-size: 12px;
}

.gourmand-choice__text--second-header {
  font-size: 38px;
  font-family: "Cormorant Infant";
  font-weight: 500;
}

.gourmand-choice__text--sign-up {
  font-size: 19px;
  font-weight: 500;
}

.gourmand-choice__text--main {
  font-size: 17px;
  font-weight: 400;
}

.gourmand-choice__carousel {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}

.gourmand-choice .wine-card {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.wine-card .wine-card__image {
  width: 50%;
}

.wine-card .wine-card__product--name {
  padding-top: 20px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: var(--main-text-color);
  letter-spacing: 2.4px;
}

.wine-card .wine-card__product--description {
  padding-top: 20px;
  text-transform: none;
  font-size: 14px;
  font-style: italic;
  color: var(--brand-color);
}

.wine-card a {
  margin-top: 20px;
  padding: 10px 30px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--brand-color);
  background-color: var(--brand-color);

  color: white;
  font-size: 16.5px;
  font-weight: 700;

  transition: 0.5s;
}

.wine-card a:hover {
  background-color: black;
}

@media (min-width: 768px) {
  .gourmand-choice .gourmand-choice__carousel {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .gourmand-choice .gourmand-choice__carousel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
