.header{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	z-index: 5;
	width: 100%;
}
.header__contact{
	height: 52px;
	width: 100%;
	display: flex;
	background: rgba(12, 12, 12, 0.5);
	opacity: 0.8;
	justify-content: center;
	align-items: center;
}
.header__contact .wrapper{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__contact span > span{
	color:white;
}
.header__contact span{
	color: #94929E;
}
.header__nav{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	height: 130px;
}
.header__menu:nth-child(2){
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header__menu {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__nav ul li{
	text-decoration: none;
	display: inline-block;
  	list-style: outside none none;
	margin: 0 10px;
}
.header__menu-item a{
	position: relative;
	font-weight: 500;
	color: #94929E;

}
.header__menu-item a:before,
.header__menu-item a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.header__menu-item a:before {
  bottom: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: white;
}
.header__menu-item a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: #ffffff;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}
.header__menu-item a:hover:before,
.header__menu-item .current a:before {
  opacity: 1;
  width: 100%;
}
.header__menu-item a:hover:after,
.header__menu-item .current a:after {
  max-width: 100%;
}

.header__menu-item a:hover:before,
.header__menu-item .current a:before {
  opacity: 1;
  width: 100%;
}
.header__menu-item a:hover:after,
.header__menu-item .current a:after {
  max-width: 100%;
}
.header__menu-item a:hover{
	color:white;
}
.header__menu:nth-child(2) .header__menu-item a:hover:before,
.header__menu:nth-child(2) .header__menu-item .current a:before {
  opacity: 0;
  width: 0;
}
.header__menu:nth-child(2) .header__menu-item a:hover:after,
.header__menu:nth-child(2) .header__menu-item .current a:after {
  opacity: 0;
  max-width: 0;
}


@media (max-width:425px) {
	.header .header__contact{
		display: none;
	}
	.header__nav{
		display: flex;
		flex-direction: column;
	}
}