.wine-club {
    background-color: var(--section-background-color);
}

.wine-club__heading{
    padding: 4%;
}

.wine-club__benefits{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

.wine-club__benefits > div {
    margin: 10%;
    padding: 5%;
}

.benefits__item {
    background-color: white;
    text-align: center;
    align-items: center;
    align-content: space-between;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
}

.benefits__item .item__img {
    width: 70px;
    height: 70px;
}

.benefits__item .item__title{
    font-weight: normal;
    font-size: 26px;
    line-height: 31.2px;
}

.benefits__item .item__description{
    color: var(--sub-text-color);
}

.wine-club__invitation{
    text-align: center;
    padding-top: 7%;
    padding-bottom: 7%;
}

.wine-club__invitation .invitation__title{
    color: #544e4c;
    font-weight: normal;
    font-size: 26px;
}

.wine-club .invitation__subtitle{
    padding: 1%;
    color: var(--sub-text-color);
}

.wine-club .invitation__subtitle__email{
    color:black;
}

.wine-club__benefits .wrapper {
    width: 100%;
}

.wine-club .item__divider {
    width: 30%;
    height: 2px;
    background-color: var(--brand-color);
    margin: auto;
}

@media (min-width: 770px) {
    .wine-club__benefits{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 990px) {
    .wine-club__benefits{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}