.wine-club {
    background-color: var(--section-background-color);
}

.wine-club__benefits{
    background-color: transparent;
}

.benefits__item {
    background-color: white;
}

.item__img {
    width: 200px;
}