.tasting {
    background: url(../img/wine-tasting/field.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

.tasting__wrapper {
    background-color: #fff;
    position: relative;
    transform: translateY(150px);
    padding: 30px;
    margin-left: 10%;
    height: 55%;
    width: 32% 
}

.tasting__text {
    .tasting__title {
        color: var(--brand-color);
    }
    
    .section__subtitle {
        color: var(--main-text-color);
    }

    .highlighted__text {
        content: ".";
        color: var(--brand-color);
    }
}

#clock {
    font-size: 200%;
    font-weight: bold;
    color:#fff;
    
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .tasting__wrapper {
        background-color: white;
        width: 80%;
        height: 40%;
        margin-left: 10%;
        line-height: 22.5px;
        background-size: 50%;
    }  
}

 /* @media (min-width: 900px) {  
    .tasting__wrapper {
       
        line-height: 22.5px;
        width: 40vw;
        
    }
}        
        
@media (min-width: 320px) {
    .tasting__wrapper {
        width: 40vh;
        height: 60vh;
        background-color: var(--section-background-color);
        padding: 40px;
        padding-top: 50px;
    }
} */


