<section class="wine-club">

    <div class="wine-club__title title">
        <h2 class="title__main">&#126; Wine club &#126;</h2>
        <h3 class="title__subtitle">Do You Need More? Join Our Wine Club.<span>.</span></h3>
        <p class="title__description">Learn more about <em class="texts__titles-subtitle--italic">Our Wine</em> Club and its benefits.</p>
    </div>

    <div class="wine-club__benefits benefits">

        <div class="benefits__discounts">
            <!-- <img src="img/wine-club/discounts.svg" alt="discounts"> -->

        </div>

        <div class="benefits__tastings">

            
        </div>

        <div class="benefits__events">

            
        </div>

        <div class="benefits__rewards">

            
        </div>

    </div>


</section>