<section class="wrapper gourmand-choice">
  <link rel="stylesheet" href="../css/index.css" />
  <div class="heading__title">
    <h2 class="gourmand-choice__header">~ GOURMAND CHOICE ~</h2>
  </div>
  <div class="heading__subtitle gourmand-choice__subheader">
    <p class="gourmand-choice__text--second-header">
      Experience the Luxury of <em>Wines</em> Aged Since <em>1999</em
      ><span>.</span>
    </p>
  </div>
  <div class="heading__text gourmand-choice__text">
    <p class="gourmand-choice__text--sign-up">
      Have a sip of our vintage wines. Sign up for a tasting or order delivery.
    </p>
  </div>
  <div class="gourmand-choice__text heading__text">
    <p class="gourmand-choice__text--main">
      From the dry and mineral whites to the robust and complex reds, the
      winery's range of wines showcases the best of the region. Each bottle is
      crafted with passion and care.
    </p>
  </div>
  <!-- TODO: create a carousel for next images -->

  <div class="gourmand-choice__carousel">
    <div class="gourmand-choice__carousel--card">
      <article class="wine-card">
        <img
          src="../img/wine-carousel/wine_portwine.png"
          class="wine-card__image"
          alt="A bottle of Port Wine"
        />
        <p class="wine-card__product--name">Port Wine</p>
        <p class="wine-card__product--description">Fortified Wine</p>
        <a href="#" class="wine-card__button">Tasting</a>
      </article>
    </div>

    <div class="gourmand-choice__carousel--card">
      <article class="wine-card">
        <img
          src="../img/wine-carousel/wine_eiswein.png"
          class="wine-card__image"
          alt="A bottle of Eiswein"
        />
        <p class="wine-card__product--name">Eiswein</p>
        <p class="wine-card__product--description">Dessert wine</p>
        <a href="#" class="wine-card__button">Tasting</a>
      </article>
    </div>

    <div class="gourmand-choice__carousel--card">
      <article class="wine-card">
        <img
          src="../img/wine-carousel/wine_grenache-rose.png"
          class="wine-card__image"
          alt="A bottle of Grenache Rose"
        />
        <p class="wine-card__product--name">Grenache Rose</p>
        <p class="wine-card__product--description">Vintage wine (2000)</p>
        <a href="#" class="wine-card__button">Tasting</a>
      </article>
    </div>

    <div class="gourmand-choice__carousel--card">
      <article class="wine-card">
        <img
          src="../img/wine-carousel/wine_pinot-noir.png"
          class="wine-card__image"
          alt="A bottle of Pinot Noir"
        />
        <p class="wine-card__product--name">Pinot Noir</p>
        <p class="wine-card__product--description">Vintage Wine (1999)</p>
        <a href="#" class="wine-card__button">Tasting</a>
      </article>
    </div>
  </div>
</section>
