<div class="footer">
    <div class="footer__wrapper">
        <div class="wrapper__about"> 
            <div class="wrapper__about-winery">
            </div>
            <div class="wrapper__about-us">
                <div class="logo-footer"><img src="/img/header-logo.svg" alt="">
                </div>
                <span>Our artisan winery located in Austin, Texas is committed to producing delicious, interesting, well-balanced wines with the complexity of flavors. Come and join our tastings or order delvery.</span>
            </div>
        </div>
        <div class="wrapper-links">
            
        </div>
    </div>
</div>