<section class="welcome">
	<div class="welcome__info">
		<span class="welcome__info-pinot">~WELCOME TO PINOT NOIR~</span>
		<h1 class="welcome__info-wish">Enjoy the Taste of Summer</h1>
		<span class="welcome__info-visit">Visit our winery and taste our perfect wines</span>
	</div>
	<div class="welcome__links">
		<div class="welcome__links-item">
			<a class="welcome__links-link">Vineyard →</a>
			<span class="welcome__links-description">Visit us & take tour.</span>
			<hr class="welcome__links-line">
		</div>
		<div class="welcome__links-item">
			<a class="welcome__links-link">Products →</a>
			<span class="welcome__links-description">Buy the best wines</span>
			<hr class="welcome__links-line">
		</div>
		<div class="welcome__links-item">
			<a class="welcome__links-link">History →</a>
			<span class="welcome__links-description">Learn more about our winery.</span>
			<hr class="welcome__links-line">
		</div>
		<div class="welcome__links-item">
			<a class="welcome__links-link">Cellars →</a>
			<span class="welcome__links-description">Discover our cellars.</span>
			<hr class="welcome__links-line">
		</div>
	</div>
</section>