<section class="tasting">
    <div class="tasting__wrapper">
        <div class="tasting__clock">
            <div id="clock">12:00:00</div>
        </div> 
        <div class="tasting__white">
            <div class="tasting__text">
                <h2 class="heading__title">~ WINE TASTINGS ~</h2>
                <p class="heading__subtitle">Come Visit Us to Taste & Enjoy<span class="highlighted__text">.</span> </p>
                <p class="heading__text">Our tasting room is located on the top of the hilly vineyard and offers guided tastings of all our great wine selections. Come visit us to enjoy Pinot Noir wines and relax sipping a divine drink.</p>
            </div>
        </div>
    </div>               
</section>