<section class="background-section">
    <img src="img/index.categories/fielg.jpg" alt="Фонове фото-Поле">
    <div class="white-box">
        <h2 class="section__title">~ WINE TASTINGS ~</h2>
        <h3 class="section__subtitle">Come Visit Us to Taste & Enjoy.</h3>
            <p class="description">Our tasting room is located on the top of the hilly vineyard and offers guided tastings of all our great wine selections. Come visit us to enjoy Pinot Noir wines and relax sipping a divine drink.</p>
    </div>
</section>