<section class="benefits-section">
    <div class="wrapper">
        <div class="benefits__left">
            <!-- <img src="img/benefits.jpg" alt="Image"> -->
       </div>   
       <div class="benefits__right">
        <header class="section-heading">
            <h2 class="heading__title">&#126; benefits &#126;</h2>
            <p class="heading__subtitle">Crafted with Love by the Best Winemakers<span>.</span></p>
            <p class="heading__text">Whether you are looking for a bottle to enjoy with a special occasion, or a classic vintage for your cellar, our winery in Austin has something for everyone.</p>
        </header>
            <div  class="benefits__list"> 
              <ul class="benefits__items">
                  <li class="benefits__item"> 
                      <img src="img/benefits-varieties.svg" alt="illustration the best Varieties"  class="benefits__item-image">
                      <div class="benefits-item-content">
                        <p class="benefits__item-title"> The Best Varieties </p>
                      <p class="benefits__item-description"> Our winemakers select the best grape varieties to create the perfect bottles of wine for you to enjoy. </p>
                      </div>
                  </li>
                  <li  class="benefits__item">
                      <img src="img/authentic-wines.svg" alt="illustration authentic-wines" class="benefits__item-image">
                     <div class="benefits-item-content">
                        <p class="benefits__item-title">Authentic Wines</p>
                        <p class="benefits__item-description">All our wines have excise stamps and certificates of authenticity. We are proud for each bottle of Pino Noir wine.</p>
                     </div>
                  </li>
                  <li  class="benefits__item">
                      <img src="img/native-yeasts.svg" alt="illustration native-yeasts" class="benefits__item-image">
                     <div class="benefits-item-content">
                        <p class="benefits__item-title"> Native Yeasts </p>
                        <p class="benefits__item-description"> Our wine experts rely on yeasts naturally found on grape skins and in the local air to ferment the juice. </p>
                     </div>
                  </li>
              </ul>
            </div>
       </div>
    </div>
    
    <div class="blog__call-to-action">
        <h2 class="call-to-action__title">Vineyard Tours to One of The Oldest Wineries in the USA.</em></h2> 
        <p class="call-to-action__text">Visit our vineyards to experience a breathtaking view along with a deep dive in the winemaking industry.</em></p>
        <a class="call-to-action__button" href="#">Sign Up Now </a>
     </div>
</section>

