<section class="testimonials">
    <div class="container">
        <header class="section-heading">
            <h2 class="heading__title">&#126; testimonials &#126;</h2>
            <p class="heading__subtitle">Our Lovely Clients <em>About</em> Us<span>.</span></з>
            <p class="heading__text">Read the testimonials of our customers to find out why so many people visit us.</p>
        </header>
        <div class="testimonials__carousel carousel">
            <button><img src="img/testimonials/arrow-left.svg" alt="arrowLeft"></button>
            <div class="testimonials__carousel__items">
                <!-- <div class="carousel__item">
                    <div class="user-img"><img src="img/testimonials/amanda-wilson.png" alt="Amanda Wilson"></div>
                    <div class="user-name">Amanda Willson</div>
                    <div class="user-feedback">"I'm so happy for the opening of the Pinot Noir Winery. They have a tremendous collection of the finest wines. We had a really great time there and will definitely come back soon."</div>
                    <div class="feedback-date">desember 15, 2022</div>
                </div>
                <div class="carousel__item">
                    <div class="user-img"><img src="img/testimonials/will-smith.png" alt="Will Smith"></div>
                    <div class="user-name">Will Smith</div>
                    <div class="user-feedback">"Visiting the winery was an amazing experience! The staff were so friendly and knowledgeable and the wine was delicious. I've already recommended Pinot Noir to my friends."</div>
                    <div class="feedback-date">january 04, 2023</div>
                </div> -->
                <div class="carousel__item">
                    <div class="user-img"><img src="img/testimonials/alice-jackson.png" alt="Alice Jackson"></div>
                    <div class="user-name">Alice Jackson</div>
                    <div class="user-feedback">"The scenery was beautiful and it was the perfect way to spend an afternoon. I would highly recommend visiting this winery!"</div>
                    <div class="feedback-date">march 25, 2023</div>
                </div>
            </div>
            <button><img src="img/testimonials/arrow-right.svg" alt="arrowRight"></button>
            <!-- <div class="testimonials__carousel-dots">
                <div>1</div>
                <div>2</div>
                <div>3</div>
            </div> -->
        </div>
    
        <hr>
    
        <div class="testimonials__events">
            <div class="testimonials_event">
                <img src="img/testimonials/wine-festival2022.jpg" alt="wine Festival 2022" >
                <p class="event__name">Wine Tasting 2021</p>
            </div>
            <div class="testimonials_event">
                <img src="img/testimonials/the-best-wineyard2022.jpg" alt="the Best Wineyard 2022">
                <p class="event__name">The Best Vineyard 2022</p>
            </div>
            <div class="testimonials_event">
                <img src="img/testimonials/grapes-variety2022.jpg" alt="grapes Variety 2022">
                <p class="event__name">Grapes Variety 2022</p>
            </div>
            <div class="testimonials_event">
                <img src="img/testimonials/wine-festival2022.jpg" alt="wine Festival 2022">
                <p class="event__name">Wine Festival 2022</p>
            </div>
            <div class="testimonials_event">
                <img src="img/testimonials/wine-cellar2022.jpg" alt="wine Cellar 2022">
                <p class="event__name">Wine Cellar 2023</p>
            </div>
        </div>
    </div>
</section>