<section class="categories">
    <div class="categories__content content">
        <article class="content__top-section">
            <header class="content__titles wrapper">
                <span class="highlighted-item-brand-color">
                    <h2 class="content__titles-title">~ CATEGORIES ~</h2>
                </span>
                <h3 class="content__titles-subtitle main-text sub-fonts"> Vast and <em>Diverse Array</em> of Wines Is Waiting for
                    You<span class="highlighted-item-brand-color">.</span> </h3>
                <p class="content__titles_description sub-text"> Sign up for a tasting or order delivery. </p>
            </header>
            <h3><div class="contnet__link wrapper"></div></h3>
            <div class="content__description wrapper">
                <p class="content__description-p sub-text">Depending on the grapes used, the region where it is produced
                    and the
                    aging
                    process, wines can vary greatly in taste, texture, and aroma. Taste different wines and select your
                    favorite ones!</p>
            </div>
        </article>
        <article class="content__bottom_section">
            <div class="content__info info wrapper"></div>
        </article>
    </div>
</section>