<section class="categories">
    <div class="categories__content content">
        <article class="content__top-section">
            <header class="content__titles">
                <span class="highlighted-item-brand-color">
                    <h2 class="content__titles-title">~ CATEGORIES ~</h2>
                </span>
                <p class="content__titles-subtitle main-text"> Vast and <em>Diverse Array</em> of Wines Is Waiting for You<span
                        class="highlighted-item-brand-color">.</span> </p>
                <p class="content__titles_description sub-text"> Sign up for a tasting or order delivery. </p>
            </header>
            <div class="contnet__link">
                <a class="link-text" href="collection.html"> <em><u>Red Wine</u></em> </a><span class="highlighted-item-brand-color"
                    ;font-size:24px">→</span>
                <a class="link-text" href="collection.html"> <em><u>Blanc Wine</u></em> </a><span class="highlighted-item-brand-color"
                    ;font-size:24px">→</span>
                <a class="link-text" href="collection.html"> <em><u>Rose Wine</u></em> </a><span class="highlighted-item-brand-color"
                    ;font-size:24px">→</span>
            </div>
            <div class="content__description">
                <p class="content__description-p sub-text">Depending on the grapes used, the region where it is produced and the
                    aging
                    process, wines can vary greatly in taste, texture, and aroma. Taste different wines and select your
                    favorite ones!</p>
            </div>
        </article>
        <article class="content__bottom_section">
            <div class="content__info info">
                <div class="info__wines">
                    <img class="info-img" src="img/img.categories.partial/illustration_info_wines.png"
                        alt="illustration info wines">
                    <h3 class="info__wines-title main-text"> Vintage Wines </h3>
                    <p class="info__wines-description sub-text">Enjoy wines bottled in the 1980s and 1990s. Taste them and
                        order
                        delivery.</p>
                    <span class="highlighted-item-brand-color">
                        <a class="button button-text" href="about-us.html"> Learn More </a>
                    </span>
                </div>
                <div class="info__grape">
                    <img class="info-img" src="img/img.categories.partial/illustration_info_grape.png"
                        alt="illustration info grape">
                    <h3 class="info__grape-title main-text"> The Best Grape </h3>
                    <p class="info__grape-description sub-text">We use only the highest quality grapes from our plantations in
                        Texas.
                    </p>
                    <span class="highlighted-item-brand-color">
                        <a class="button button-text" href="about-us.html"> Learn More </a>
                    </span>
                </div>
                <div class="info__bottles">
                    <img class="info-img" src="img/img.categories.partial/illustration_info_bottles.png"
                        alt="illustration info bottles">
                    <h3 class="info__bottles-title main-text"> Beautiful Bottles </h3>
                    <p class="info__bottles-description sub-text">We work with designers to create the most beautiful wine
                        bottles.
                    </p>
                    <span class="highlighted-item-brand-color">
                        <a class="button button-text" href="about-us.html"> Learn More </a>
                    </span>
                </div>
                <div class="info__tours">
                    <img class="info-img" src="img/img.categories.partial/illustration_info_tours.png"
                        alt="illustration info tours">
                    <h3 class="info__tours-title main-text"> Interesting Tours </h3>
                    <p class="info__tours-description sub-text">Sign up for a tour and tasting and learn more about our wines.
                    </p>
                    <span class="highlighted-item-brand-color">
                        <a class="button button-text" href="about-us.html"> Learn More </a>
                    </span>
                </div>
            </div>
        </article>
    </div>
</section>