<section class="welcome">
	<div class="welcome__info">
		<p class="welcome__info-pinot">~WELCOME TO PINOT NOIR~</p>
		<h1 class="welcome__info-wish">Enjoy the Taste of Summer</h1>
		<p class="welcome__info-visit">Visit our winery and taste our perfect wines</p>
	</div>
	<div class="welcome__links wrapper">
		<div class="welcome__links-item">
			<a href="#" class="welcome__links-link">Vineyard →</a>
			<p class="welcome__links-description">Visit us & take tour.</p>
			<div class="welcome__links-line"></div>
		</div>
		<div class="welcome__links-item">
			<a href="#" class="welcome__links-link">Products →</a>
			<p class="welcome__links-description">Buy the best wines</p>
			<div class="welcome__links-line"></div>
		</div>
		<div class="welcome__links-item">
			<a href="#" class="welcome__links-link">History →</a>
			<p class="welcome__links-description">Learn more about our winery.</p>
			<div class="welcome__links-line"></div>
		</div>
		<div class="welcome__links-item">
			<a href="#" class="welcome__links-link">Cellars →</a>
			<p class="welcome__links-description">Discover our cellars.</p>
			<div class="welcome__links-line"></div>
		</div>
	</div>
</section>