<!-- TEMPORARY STYLE -->
<style>
  .temp-img {
    height: 200px;
    width: auto;
  }
</style>
<section class="gourmand-choice">
  <div class="gourmand-choice__subheader">
    <p>~ GOURMAND CHOICE ~</p>
  </div>
  <div class="gourmand-choice__header">
    <h2>
      Experience the Luxury of Wines Aged Since 1999<span
        class="ADD_CLASS_HERE_FOR_SPAN"
        >.</span
      >
    </h2>
  </div>
  <div class="gourmand-choice__paragraph">
    <p>
      Have a sip of our vintage wines. Sign up for a tasting or order delivery.
    </p>
  </div>
  <div class="gourmand-choice__paragraph">
    <p>
      From the dry and mineral whites to the robust and complex reds, the
      winery's range of wines showcases the best of the region. Each bottle is
      crafted with passion and care.
    </p>
  </div>
  <!-- TODO: create a carousel for next images -->
  <div class="gourmand-choice__carousel">
    <div class="gourmand-choice__carousel--image">
      <img
        class="temp-img"
        src="img/wine-carousel/wine_grenache-rose.png"
        alt="A bottle of Grenache Rose"
      />
    </div>
    <div class="gourmand-choice__carousel--wine-name">
      <p>GRENACHE ROSE</p>
    </div>
    <div class="gourmand-choice__carousel--wine-description">
      <p>Vintage wine (2000)</p>
    </div>
  </div>
  <div class="gourmand-choice__carousel--image">
    <img
      class="temp-img"
      src="img/wine-carousel/wine_pinot-noir.png"
      alt="A bottle of Pinot Noir"
    />
  </div>
  <div class="gourmand-choice__carousel--wine-name">
    <p>PINOT NOIR</p>
  </div>
  <p>Vintage wine (1999)</p>
  <div class="gourmand-choice__carousel--image">
    <img
      class="temp-img"
      src="img/wine-carousel/wine_portwine.png"
      alt="A bottle of Port Wine"
    />
  </div>
  <div class="gourmand-choice__carousel--wine-name">
    <p>PORT WINE</p>
  </div>
  <div class="gourmand-choice__carousel--wine-description">
    <p>Fortified wine</p>
  </div>
  <div class="gourmand-choice__carousel--image">
    <img
      class="temp-img"
      src="img/wine-carousel/wine_eiswein.png"
      alt="A bottle Eiswein"
    />
  </div>
  <div class="gourmand-choice__carousel--wine-name">
    <p>EISWEIN</p>
  </div>
  <div class="gourmand-choice__carousel--wine-description">
    <p>Dessert wine</p>
  </div>
</section>
