<footer>
    <div class="footer__wrapper">
        <div class="footer__info">
            <div class="footer__logo-wrapper">
                <img class="footer__logo" src="img/header-logo.svg" alt="">
                <span class="footer__logo-info">Our artisan winery located in Austin, Texas is committed to producing delicious, interesting, well-balanced wines with the complexity of flavors. Come and join our tastings or order delvery.</span>
            </div>
            <div class="footer__contacts">
                <span class="footer__span">Write us</span>
                <a class="footer__contact" href="mailto:pinotnoir@email.com">pinotnoir@email.com</a>
                <span class="footer__span">Call us</span>
                <a class="footer__contact" href="tel:+1 (234) 567 89 00">pinotnoir@email.com</a>
            </div>
        </div>
        <div class="footer__routes-wrapper">
            <div class="footer__routes">
                <a href="#" class="route">About Us</a>
                <a href="contacts.html#distribution" class="route">Distribution</a>
                <a href="#" class="route">Collection</a>
                <a href="#" class="route">Testing</a>
                <a href="#" class="route">Wine Club</a>
                <a href="contacts.html" class="route">Contacts</a>
            </div>
            <p class="footer__creators">© Created by | All rights Reserved</p>
        </div>
    </div>
</footer>
