<section class="testimonials">
    <div class="testimonials__section-title">
        <h2 class="section__title">&#126; testimonials &#126;</h2>
        <h3 class="section__subtitle">Our Lovely Clients About Us<span>.</span></h3>
        <p class="section__text">Read the testimonials of our customers to find out why so many people visit us.</p>
    </div>
    <div class="testimonials__carousel carousel">
        <button><img src="/img/arrow-left.svg" alt="arrowLeft"></button>
        <div class="testimonials__carousel__items">
            <div class="carousel__item">
                <div class="user-img"><img width="70" src="/img/amanda-wilson__user.png" alt="AmandaWilson__user"></div>
                <div class="user-name">Amanda Willson</div>
                <div class="user-feedback">"I'm so happy for the opening of the Pinot Noir Winery. They have a tremendous collection of the finest wines. We had a really great time there and will definitely come back soon."</div>
                <div class="feedback-date">desember 15, 2022</div>
            </div>
            <div class="carousel__item">
                <div class="user-img"><img width="70" src="/img/will-smith__user.png" alt="WillSmith__user"></div>
                <div class="user-name">Will Smith</div>
                <div class="user-feedback">"Visiting the winery was an amazing experience! The staff were so friendly and knowledgeable and the wine was delicious. I've already recommended Pinot Noir to my friends."</div>
                <div class="feedback-date">january 04, 2023</div>
            </div>
            <div class="carousel__item">
                <div class="user-img"><img width="70" src="/img/alice-jackson__user.png" alt="AliceJackson__user"></div>
                <div class="user-name">Alice Jackson</div>
                <div class="user-feedback">"The scenery was beautiful and it was the perfect way to spend an afternoon. I would highly recommend visiting this winery!"</div>
                <div class="feedback-date">march 25, 2023</div>
            </div>
        </div>
        <button><img src="/img/arrow-right.svg" alt="arrowRight"></button>
        <div class="testimonials__carousel-dots">
            <div>1</div>
            <div>2</div>
            <div>3</div>
        </div>
    </div>

    <hr>

    <div class="testimonials__events">
        <div class="testimonials_event">
            <img width="210" src="/img/wine-festival2022.jpg" alt="wineFestival2022" >
            <p class="event__name">Wine Tasting 2021</p>
        </div>
        <div class="testimonials_event">
            <img width="210" src="/img/the-best-wineyard2022.jpg" alt="theBestWineyard2022">
            <p class="event__name">The Best Vineyard 2022</p>
        </div>
        <div class="testimonials_event">
            <img width="210" src="/img/grapes-variety2022.jpg" alt="grapesVariety2022">
            <p class="event__name">Grapes Variety 2022</p>
        </div>
        <div class="testimonials_event">
            <img width="210" src="/img/wine-festival2022.jpg" alt="wineFestival2022">
            <p class="event__name">Wine Festival 2022</p>
        </div>
        <div class="testimonials_event">
            <img width="210" src="/img/wine-cellar2022.jpg" alt="wineCellar2022">
            <p class="event__name">Wine Cellar 2023</p>
        </div>
    </div>
</section>