<section class="blog">
    <div class="wrapper">
        <div class="blog__content">
            <div class="news">
                <p class="news-date"><em>Winery/September 22, 2022</em></p>
                <h3 class="news-title">Thanksgiving Food & Wine Pairings</h3>
                <p class="news-text">Wine pairings really make sense, especially on holidays. Thanksgiving is the coziest feast which unites families.</p>
                <a class="read-more" href="#">Read More</a>
            </div>
            <div class="photo-news-wine">
            </div>
            <div class="news">
                <p class="news-date"><em>Winery/December 04, 2022</em></p>
                <h3 class="news-title">A Look Into Harvest Season 2022</h3>
                <p class="news-text">As to winemaking, the harvest season reveals all the magic. The harvest season at Pinot Noir usually takes place in late August.</p>
                <a class="read-more" href="#">Read More</a>
            </div>
            <div class="photo-news-shelf">
            </div>
            <div class="news">
                <p class="news-date">Winery/March 04, 2023</p>
                <h3 class="news-title">How We Make Sparkling Wine</h3>
                <p class="news-text">Sparkling wine is the most admirable drink by all wine lovers. Do you know what it takes to make those bubbles?</p>
                <a class="read-more" href="#">Read More</a>
            </div>
            <div class="photo-news-field">
            </div>
        </div>
        
    </div>
    <div class="blog__call-to-action">
        <h2 class="call-to-action__title">Join Our Wine <em>Tastings!</em></h2> 
        <p class="call-to-action__text">Our Tasting Room is located on the top of the hilly vineyard and offers guided tastings of all our great wine selections. <em>Come visit us to enjoy!</em></p>
        <a class="call-to-action__button" href="#">Join Now</a>
     </div>
</section>