<section class="benefits">
   <div class="benefits__left">
        <img src="img/image.jpg" alt="Image">
   </div>   
   <div class="benefits__right">
      <h2 class="heading_title"> ~ BENEFITS ~ </h2>
      <p class="heading__subtitle"> Crafted with Love by the Best Winemakers </p>
      <p class="heading__text"> Whether you are looking for a bottle to enjoy with a special occasion, or a classic vintage for your cellar, our winery in Austin has something for everyone. </p>
        <div  class="benefits__list"> 
          <ul class="benefits__items">
              <li class="benefits__item"> 
                  <img src="img/benefits-varieties.svg" alt="illustration the best Varieties"  class="benefits__item-image">
                  <p class="benefits__item-title"> The Best Varieties </p>
                  <p class="benefits__item-description"> Our winemakers select the best grape varieties to create the perfect bottles of wine for you to enjoy. </p>
              </li>
              <li  class="benefits__item">
                  <img src="img/authentic-wines.svg" alt="illustration authentic-wines" class="benefits__item-image">
                  <p>Authentic Wines</p>
                  <p class="benefits__item-description">All our wines have excise stamps and certificates of authenticity. We are proud for each bottle of Pino Noir wine.</p>
              </li>
              <li  class="benefits__item">
                  <img src="img/native-yeasts.svg" alt="illustration native-yeasts" class="benefits__item-image">
                  <p> Native Yeasts </p>
                  <p class="benefits__item-description"> Our wine experts rely on yeasts naturally found on grape skins and in the local air to ferment the juice. </p>
              </li>
          </ul>
        </div>
   </div>
</section>
<div class="button__block">
     <div class="block__title__botton">
        <h2 class="button__title"> Vineyard Tours to One of The Oldest Wineries in the USA. </h2>
       <p class="button__subtitle>"> Visit our vineyards to experience a breathtaking view along with a deep dive in the winemaking industry. </p>
    </div>
    <div class="block__button__benefits">
        <button class="button__benefits" type="button"> Sign Up Now </button>
    </div>
</div>
