<section class="benefits">
    <div class="wrapper"> 
    <div class="benefits-left">
         <img src="img/benefits.jpg" alt="Image">
    </div>   
    <div class="benefits-right">
        <header class="section-header">
       <h2 class="heading-title"> ~ BENEFITS ~ </h2>
       <p class="heading-subtitle"> Crafted with Love by the Best Winemakers </p>
       <p class="heading-text"> Whether you are looking for a bottle to enjoy with a special occasion, or a classic vintage for your cellar, our winery in Austin has something for everyone. </p>
        </header>
        <div  class="benefits-list"> 
           <ul class="benefits-items">
               <li class="benefits-item"> 
                   <img src="img/benefits-varieties.svg" alt="illustration the best Varieties"  class="benefits-item-image">
                   <p class="benefits-item-title"> The Best Varieties </p>
                   <p class="benefits-item-descriptions"> Our winemakers select the best grape varieties to create the perfect bottles of wine for you to enjoy. </p>
               </li>
               <li  class="benefits-item">
                   <img src="img/authentic-wines.svg" alt="illustration authentic-wines" class="benefits-item-image">
                   <p>Authentic Wines</p>
                   <p class="benefits-item-descriptions">All our wines have excise stamps and certificates of authenticity. We are proud for each bottle of Pino Noir wine.</p>
               </li>
               <li  class="benefits-item">
                   <img src="img/native-yeasts.svg" alt="illustration native-yeasts" class="benefits-item-image">
                   <p> Native Yeasts </p>
                   <p class="benefits-item-descriptions"> Our wine experts rely on yeasts naturally found on grape skins and in the local air to ferment the juice. </p>
               </li>
           </ul>
         </div>
    </div>


 <div class="button__block">
      <div class="block__title__button">
         <h2 class="button__title"> Vineyard Tours to One of The Oldest Wineries in the USA. </h2>
        <p class="button__subtitle>"> Visit our vineyards to experience a breathtaking view along with a deep dive in the winemaking industry. </p>
     </div>
     <div class="block__button__benefits">
         <button class="button__benefits" href="#" type="button"> Sign Up Now </button>
     </div>
 </div>
</div>
</section>
 