<section class="testimonials">
    <div class="testimonials__section-title">
        <h2 class="section__title">U+007E testimonials U+007E</h2>
        <h3 class="section__subtitle">Our Lovely Clients About Us<span>.</span></h3>
        <p class="section__text">Read the testimonials of our customers to find out why so many people visit us.</p>
    </div>
    <div class="testimonials__carousel carousel">

    </div>

    <hr>

    <div class="testimonials__events">
        <div class="testimonials_event">
            <img src="/img/wineFestival2022.jpg" alt="wineFestival2022">
            <p class="event__name">Wine Tasting 2021</p>
        </div>
        <div class="testimonials_event">
            <img src="/img/theBestWineyard2022.jpg" alt="theBestWineyard2022">
            <p class="event__name">The Best Vineyard 2022</p>
        </div>
        <div class="testimonials_event">
            <img src="/img/grapesVariety2022.jpg" alt="grapesVariety2022">
            <p class="event__name">Grapes Variety 2022</p>
        </div>
        <div class="testimonials_event">
            <img src="/img/wineFestival2022.jpg" alt="wineFestival2022">
            <p class="event__name">Wine Festival 2022</p>
        </div>
        <div class="testimonials_event">
            <img src="/img/wineCellar2022.jpg" alt="wineCellar2022">
            <p class="event__name">Wine Cellar 2023</p>
        </div>
    </div>
</section>