<section class="wine-club">
    <header class="section-heading">
        <h2 class="heading__title">&#126; Wine club &#126;</h2>
        <p class="heading__subtitle">Do You Need More? Join Our Wine Club<span>.</span></p>
        <p class="heading__text">Learn more about <em class="title__description__italic">Our Wine</em> Club and its benefits.</p>
    </header>

    <div class="wine-club__benefits benefits">
        <div class="benefits__item item">
            <img class="item__img" src="img/wine-club/discounts.svg" alt="discounts" width="100">
            <h4><em class="item__title">Discounts</em></h4>
            <div class="item__divider"></div>
            <p class="item__description">Get up to 20% off on all wine purchases.</p>
        </div>

        <div class="benefits__item item">
            <img class="item__img" src="img/wine-club/wine_tastings.svg" alt="wine tastings" width="100">
            <h4><em class="item__title">Сomplimentary individual wine tastings.</em></h4>
            <div class="item__divider"></div>
            <p class="item__description">Free Pinot Noir winery events participation.</p>
        </div>

        <div class="benefits__item item">
            <img class="item__img" src="img/wine-club/exclusive_events.svg" alt="exclusive events" width="100">
            <h4><em class="item__title">Exclusive Events</em></h4>
            <div class="item__divider"></div>
            <p class="item__description">Get up to 20% off on all wine purchases.</p>
        </div>

        <div class="benefits__item item">
            <img class="item__img" src="img/wine-club/rewards.svg" alt="rewards" width="100">
            <h4><em class="item__title">Rewards</em></h4>
            <div class="item__divider"></div>
            <p class="item__description">Refer a friend or family member and get a reward.</p>
        </div>
    </div>

    <div class="wine-club__invitation invitation">
        <h5 class="invitation__title">Become a Part of Our Club!</h5>
        <p class="invitation__subtitle">write us on <em class="title__description__italic">pinotnoir@email.com</em></p>
    </div>
</section>