<section class="about-us">
    <div class="about-us__texts texts">
        <div class="texts__titles">
            <h2 class="texts__titles-title">~ About us ~</h2>
            <h3 class="texts__titles-subtitle">
                Wine is Poetry in a Bottle. Discover Our
                <em class="texts__titles-subtitle--italic">Wines</em>
            </h3>
        </div>
        <div class="texts__text">
            <p class="texts__text-p">
                Our artisan winery located in Austin, Texas is committed to
                producing delicious, interesting, well-balanced wines with the
                complexity of flavors. Fruits from each vintage tell the story
                of the season. We're dedicated to supporting sustainably farmed,
                terroir expressive vineyards.
            </p>
        </div>
    </div>
    <div class="about-us__statistic">
        <div class="about-us__statistic-hectares">
            <p class="about-us__statistic-value">15.000</p>
            <div class="about-us__statistic-line"></div>
            <p class="about-us__statistic-text">Hectares of land;</p>
        </div>
        <div class="about-us__statistic-employees">
            <p class="about-us__statistic-value">897 +</p>
            <div class="about-us__statistic-line"></div>
            <p class="about-us__statistic-text">Employees;</p>
        </div>
        <div class="about-us__statistic-bottles">
            <p class="about-us__statistic-value">1.500k</p>
            <div class="about-us__statistic-line"></div>
            <p class="about-us__statistic-text">Bottles produced;</p>
        </div>
        <div class="about-us__statistic-tours">
            <p class="about-us__statistic-value">345 +</p>
            <div class="about-us__statistic-line"></div>
            <p class="about-us__statistic-text">Tours per year;</p>
        </div>
        <div class="about-us__statistic-visitors">
            <p class="about-us__statistic-value">9.000k</p>
            <div class="about-us__statistic-line"></div>
            <p class="about-us__statistic-text">Visitors per year.</p>
        </div>
    </div>
    <div class="about-us__video"></div>
</section>
