<section class="gourmand-choice wrapper">
  <div class="heading__title">
    <h2 class="gourmand-choice__header">~ GOURMAND CHOICE ~</h2>
  </div>
  <div class="gourmand-choice__subheader heading__subtitle">
    <p class="gourmand-choice__text--second-header">
      Experience the Luxury of <em>Wines</em> Aged Since <em>1999</em
      ><span>.</span>
    </p>
  </div>
  <div class="gourmand-choice__text heading__text">
    <p class="gourmand-choice__text--sign-up">
      Have a sip of our vintage wines. Sign up for a tasting or order delivery.
    </p>
  </div>
  <div class="gourmand-choice__text heading__text">
    <p class="gourmand-choice__text--main">
      From the dry and mineral whites to the robust and complex reds, the
      winery's range of wines showcases the best of the region. Each bottle is
      crafted with passion and care.
    </p>
  </div>
  <!-- TODO: create a carousel for next images -->

  <div class="gourmand-choice__carousel">
    <article class="gourmand-choice__wine-card">
      <div>
        <img
          class="wine-carousel__image"
          src="img/wine-carousel/wine_grenache-rose.png"
          alt="A bottle of Grenache Rose"
        />
        <div class="gourmand-choice__carousel--underpicture-text">
          <h3 class="heading__subtitle gourmand-choice__carousel--wine-name">
            GRENACHE ROSE
          </h3>
          <p class="gourmand-choice__carousel--wine-description">
            Vintage wine (2000)
          </p>
          <a href="#" class="gourmand-choice__button">Tasting</a>
        </div>
      </div>
    </article>

    <article class="gourmand-choice__wine-card">
      <div class="gourmand-choice__carousel--underpicture-text">
        <img
          class="wine-carousel__image"
          src="img/wine-carousel/wine_pinot-noir.png"
          alt="A bottle of Pinot Noir"
        />
        <div>
          <h3 class="heading__subtitle gourmand-choice__carousel--wine-name">
            PINOT NOIR
          </h3>
          <p class="gourmand-choice__carousel--wine-description">
            Vintage wine (1999)
          </p>
          <a href="#" class="gourmand-choice__button">Tasting</a>
        </div>
      </div>
    </article>

    <article class="gourmand-choice__wine-card">
      <div class="gourmand-choice__carousel--underpicture-text">
        <img
          class="wine-carousel__image"
          src="img/wine-carousel/wine_portwine.png"
          alt="A bottle of Port Wine"
        />
        <div>
          <h3 class="heading__subtitle gourmand-choice__carousel--wine-name">
            PORT WINE
          </h3>
          <p class="gourmand-choice__carousel--wine-description">
            Fortified wine
          </p>
          <a href="#" class="gourmand-choice__button">Tasting</a>
        </div>
      </div>
    </article>

    <article class="gourmand-choice__wine-card">
      <div class="gourmand-choice__carousel--underpicture-text">
        <img
          class="wine-carousel__image"
          src="img/wine-carousel/wine_eiswein.png"
          alt="A bottle of Eiswein"
        />
        <div>
          <h3 class="heading__subtitle gourmand-choice__carousel--wine-name">
            EISWEIN
          </h3>
          <p class="gourmand-choice__carousel--wine-description">
            Dessert wine
          </p>
          <a href="#" class="gourmand-choice__button">Tasting</a>
        </div>
      </div>
    </article>
  </div>
</section>
